/*CSS DOCUMENT*/

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #302B2B;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 6px solid #969696;
    margin: 1em 0em 2em;
}

div.main li {
    list-style-type: none;
    margin-right: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    display: inline;
}

div.main ul {
    text-align: center;
    margin-bottom: 3em;
}

h1 {
    font-family: 'Rye', bold;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    clear: both;
    text-align: center;
    color: #302B2B;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    color: #302B2B;
}

p {
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #302B2B;
}

div.news h6 {
    font-family: sans-serif;
    text-align: right;
}

ul {
    font-family: sans-serif;
}

div.services {
    float: left;
    margin-right: 2em;
    width: 45%;
    color: #B89D6A;
}

div.specialties {
    float: left;
    width: 45%;
    color: #B89D6A;
}

div.services li {
    font-weight: lighter;
}

div.specialties li {
    font-weight: lighter;
}

div.address {
    text-align: center;
    clear: both;
    margin-top: 2em;
}

div.address p {
    font-weight: bold;
}

div.firstnews {
    background-color: #DBDBDB;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

div.secondnews {
    background-color: #DBDBDB;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
}

div.thirdnews {
    background-color: #DBDBDB;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
}

div.secondnews {
    background-color: #DBDBDB;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
}

div.fourthnews {
    background-color: #DBDBDB;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-top: 1em;
}

h6 {
    text-align: right;
    font-style: italic;
}

footer h6 {
    text-align: center;
    color: #302B2B;
}

div.intro h3 {
    font-weight: normal;
}